@using PeopleNotes.Classes

@model IEnumerable<PeopleNotes.Classes.Note>
@{
    var personId = ((Person)ViewData["Person"]).PersonId;

    <a asp-action="AddOrEdit" asp-controller="Notes" asp-route-personId="@personId" class="btn btn-success text-white"><i class="fas fa-random"></i> New Note</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Text)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var n in Model)
            {
                <tr>
                    <td>@n.Text</td>
                    <td>
                        <a asp-action="AddOrEdit" asp-controller="Notes" asp-route-id="@n.NoteId" class="btn btn-success text-white"><i class="fas fa-random"></i> Edit me</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Notes" asp-route-id="@n.NoteId" class="btn btn-success text-white"><i class="fas fa-random"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
